/* Centra totes les imatges de les pàgines */
.md-content img {
  display: block;
  margin: 0 auto;
}
@media print {
  .salt-pagina {
    page-break-after: always;
  }
}
@media print {
  table, blockquote {
    page-break-inside: avoid;
  }
}
/* Canvia el color de la barra lateral i del text del quote */
blockquote {
    /*border-left: .2rem solid #475fd8 !important; /* Blau (canvia el HEX al teu gust) */
    /*color: rgb(102, 102, 109) !important;/* Canvia el color de la barra lateral i del text del quote */
    /*background-color: #f7f6f6;      /* Opcional: un fons lleugerament diferent */
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 0;
}